@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form id="form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <label class="input">
        <span>Почта</span>
        <input type="text" asp-for="Input.Email" placeholder="Введите почту" autocomplete="username" aria-required="true">
    </label>
    <label class="input">
        <span>
            <span>Пароль</span>
        </span>
        <input type="password" asp-for="Input.Password" placeholder="Введите логин" autocomplete="current-password" aria-required="true">
    </label>
    <div class="form-footer">
        <button type="submit">Войти</button>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нет аккаунта? Зарегистрируйтесь!</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
