@page "{ListID:int}"
@model ListModel
@{
    var list = (List)ViewData["List"];
    ViewData["Title"] = list.Text;
}
@section Styles {
    <link rel="stylesheet" href="~/css/list.css">
}

@Html.AntiForgeryToken()
<div id="buttons">
    <a href="?handler=GetReport" download="Отчёт о записи @list.Text" class="circle-button circle-button-40">
        <img src="~/images/report.svg" alt="">
    </a>

    <a href="?handler=Delete" class="circle-button circle-button-40" id="deleteButton">
        <img src="~/images/trash-1.svg" alt="">
    </a>
</div>
<div id="app">
    <div id="active-tasks" class="tasks">
        <div class="content">
            <div class="title">
                Текущие задачи <button id="button-create-task" class="create-task circle-button circle-button-30">
                </button></div>

            <list v-bind:key="0" v-bind:checked="0"></list>
        </div>
    </div>
    <div id="completed-tasks" class="tasks">
        <div class="content">
            <div class="title">
                Выполненные задачи
            </div>
            <list v-bind:key="1" v-bind:checked="1"></list>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/list.js"></script>
}